@using Misuka.Infrastructure.MVC
@model Misuka.Web.Models.OrderingModel
@{
    ViewBag.Title = this.LocalResources("PageTitle");
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="modal-header">
                <button type="button" class="close dimdiss" data-dimdiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@Misuka.Web.Resources.Common.Close</span></button>
              <h4 class="modal-title">@Model.OrderingCode</h4>
              </div>
<div class="modal-body">
    @using (Ajax.BeginForm("EditOrderingFollowingOrder", "Ordering", new { }, new AjaxOptions
    {
        HttpMethod = "Post",
        OnBegin = "defaultResponse.beginHandler",
        OnSuccess = "OrderingUSDClient.OnSuccessed",
        OnFailure = "OrderingUSDClient.OnFailed",

    }, "errorPanel", new {id = "OrderingDoneInformationForm"}))
    {

        <div class="row">
            <div class=" col-md-12">
                <div class="info-panel">
                </div>
            </div>
        </div>
        <div class="row">
            @Html.HiddenFor(model => model.OrderingId)
            <div class=" col-md-12">
                <div class="c-checkbox has-info">
					<input type="checkbox" id="IsPaid" class="c-check">
					<label for="IsPaid">
					<span></span>
					<span class="check"></span>
					<span class="box"></span>
					@Misuka.Web.Resources.Order.IsPaid </label>
				</div>
            </div>
            <div class=" col-md-12">
                <div class="c-checkbox has-info">
					<input type="checkbox" id="IsDelivered" class="c-check">
					<label for="IsDelivered">
					<span></span>
					<span class="check"></span>
					<span class="box"></span>
					@Misuka.Web.Resources.Order.IsDelivered </label>
				</div>
              
            </div>

        </div>

        <div class="modal-footer  margin-top-10">
            <button type="button" class="btn btn-white dimdiss" data-dimdiss="modal">@Misuka.Web.Resources.Common.Close</button>
            <button type="submit" class="btn btn-primary">@Misuka.Web.Resources.Common.Save</button>
            
        </div>
    }

</div>


<script type="text/javascript">
    $(document).ready(function () {
        OrderClient.LoadMonney();
        OrderClient.HidePermission();

    });
</script>